.homepage {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; 
  }
}

.logo:hover {
  border-color: var(--color-orange);

  svg {
    fill: var(--color-orange);
  }
}

.logo {
  width: 60px;
  aspect-ratio: 1/1;
  border: 0.5px solid var(--color-light-gray);
  background-color: var(--color-dark);
  border-radius: 30px;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding-right: 2px;
}

.labLink {
  border: 0.5px solid var(--color-light-gray);
  background-color: var(--color-dark);
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  border-radius: 50px; 
}

.labLink:hover {
  border-color: var(--color-orange);
  color: var(--color-orange);

  svg {
    fill: var(--color-orange);
  }
}

.splash {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: clamp(2.5rem, 7vw, 10rem);
    color: transparent;
    background-clip: text;
  }

  h1:first-of-type {
    background-image: linear-gradient(
      white 0%,
      white 70%,
      rgb(200, 200, 200) 100%
    );
  }

  h1:last-of-type {
    padding-left: 12.5px;
    color: var(--color-orange);
    /* background-image: linear-gradient(#ff5c00 0%, #ff5c00 70%, #652500 100%); */
  }

  a {
    display: grid;
    place-items: center;
    text-decoration: none;
    margin-top: 25px;
  }

  button {
    padding: 8px 24px;
    border-radius: 50px;
    background: none;
    font-size: 1rem;
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12.5px;
    transition: color 0.1s ease, border-color 0.1s ease;

    svg {
      transition: fill 0.1s ease;
    }
  }

  button:hover {
    color: var(--color-orange);
    border-color: var(--color-orange);

    svg {
      fill: var(--color-orange);
    }
  }
}