.homepage {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 60px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        ul {
            width: clamp(1rem, 40vw, 25rem);
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: white;

            li {
                cursor: pointer;
              
                border-radius: 50px;
                width: 60px;
                height: 80%;
                display: flex;
                justify-content: space-evenly;
                background-color: var(--color-dark);
                align-items: center;
                padding: 5px 20px;
            }

            a {
                text-decoration: none;
                color: white;
            }

            li:hover,
            a:hover {
                background-color: var(--color-orange);
            }
        }
    }
}

.splash {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     

    h1 {
        font-size: clamp(2.5rem, 8.5vw, 10rem);
        color: transparent;
        background-clip: text;
    }

    h1:first-of-type {
        background-image: linear-gradient(white 0%, white 60%, rgb(146, 146, 146) 100%);
    }

    h1:last-of-type {
        padding-left: 20px;
        background-image: linear-gradient(#ff5c00 0%, #ff5c00 60%, #652500 100%);
    }

    a {
        display: grid;
        place-items: center;
        text-decoration: none;
        margin-top: 25px;
    }

    button {
        padding: 8px 24px;
        border-radius: 10px;
        background: none;
        font-size: 1rem;
        border: 2px solid white;
        color: white;  
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 12.5px;
        transition: color 0.2s ease, border-color 0.2s ease;

        svg {
            transition: fill 0.2s ease;
        }

        p {
            margin-top: 3px;
        }
    }

    button:hover {
        color: var(--color-orange);
        border-color: var(--color-orange);

        svg {
            fill: var(--color-orange)
        }
    }
}