:root {
    --font-main: "lores-9-plus-narrow",monospace, sans-serif;
    --color-bg: #161616;
    --color-dark-blue: #774289;
    --color-light-blue: #b59cc4;
    --color-black: #000;
    --color-white: #cbcbcb;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    box-sizing: border-box;
    overflow: hidden;
}

html {
    background-color: var(--color-bg);
}

button {
    cursor: pointer;
}

a,
a:visited {
    color:lawngreen;
}

i {
    color: lawngreen;
}

.red-text {
    color: red;
}
.green-text {
    color: green;
}
.blue-text {
    color: blue;
}

.large-text {
    font-size: 1.5rem;
}

/* header {
    width: 100vw;
    height: 10vh;
} */


/*
nav {
    width: 100vw;
    height: 8vh;
    box-sizing: border-box;
    /* background-color: var(--color-dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toggle-view {
    border: none;
    background: none;
    width: 10%;
    height: 80%;
    display: grid;
    place-items: center;
    border-radius: 50px;
    margin-left: 20px;
}

#toggle-icon {
    
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
}

#toggle-icon div {
    background-color: var(--color-white);
    width: 100%;
    height: 15%;
   
}

#textencoder {
    width: 30%;
    height: 70%;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border: none;
    background: none;
    color: var(--color-white);
}

#textencoder:hover {
    color: var(--color-dark-blue);
}

#help-button {
    border: none;
    color: var(--color-white);
    background: none;
    border-radius: 50px;
    width: 10%;
    height: 80%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    margin-right: 20px;
}

#toggle-icon:hover {
    background-color: var(--color-dark-blue);
}

#help-button:hover {
    color: var(--color-dark-blue);
}

*/


/* #nav-2 {
    width: 100%;
    height: 50%;
    border-bottom: 3px solid var(--color-black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--color-light-blue);
} */

/* #dropdown-menus {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    width: 40%;
    height: 100%;
    font-size: 1.25rem;
}

#dropdown-menus a:hover {
    cursor: pointer;
    color: var(--color-dark-blue);
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#main-menu {
    width: 25%;
    height: 100vh;
    color: var(--color-white);
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}

#logo {
    background-color: var(--color-white);
    width: 20%;
    height: 10%;
    border-radius: 10px; 
}

#logo:hover {
    background-color: lawngreen;
    cursor: pointer;
}



#information-block {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    text-align: center;
    font-size: 1.2rem;
    padding: 30px;
    line-height: 40px;
}

svg {
    width: 500px;
}

#svg-select {
    width: 80vw;
    height: 80vh;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 40px;
    margin-top: 35px;
    overflow:visible;
}

@keyframes focusSelect {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.025);
    }
}

.svg-select-div {
    border: 5px solid var(--color-bg);
    border-radius: 10px;
    background-color: var(--color-white);
    position: relative;
    cursor: pointer;
}

.svg-select-div:hover {
    animation: focusSelect 0.2s ease-in-out;
    animation-fill-mode: forwards;
    
}

.svg-select-div-title {
    width: 100%;
    height: 25%;
    position: absolute;
    background-color: var(--color-dark-blue);
    border-bottom: 5px solid black;
    color: var(--color-bg);
    display: grid;
    place-items: center;
    font-size: 1.25rem;
}

.svg-select-div-title:hover {
    background-color: var(--color-light-blue);
    color: black;
}

#help-window {
    border: 5px solid var(--color-bg);  
    width: 80vw;
    height: 80vh;
    margin-top: 35px;
    position: relative;
    background-color: var(--color-white); 
    border-radius: 15px;
    display: none;
}

#help-header {
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
    border-bottom: 5px solid var(--color-bg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-light-blue);
    position: relative;
    
}

#help-title {
    color: var(--color-white);
    width: 10%;
    height: 70%;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    border-radius: 50px;
    margin-left: 20px;
    color: black;
    font-weight: 900;
}

#help-text {
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    line-height: 1.5;
}

#help-text p:last-of-type {
    font-size: 1rem;
}

#editor-window {
    border: 5px solid var(--color-bg);  
    width: 50vw;
    height: 90vh;
    margin-top: 10px;
    position: relative;
    background-color: var(--color-white); 
    border-radius: 15px;
}

#editor-header {
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
    border-bottom: 5px solid var(--color-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    z-index: 1;
}

#file-name {
    color: var(--color-black);
    border-radius: 10px;
    width: 30%;
    height: 70%;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    font-weight: 900;
    margin-left: 20px;
}

#file-name:hover {
    color: var(--color-white);
    background-color: var(--color-bg);
    cursor: pointer;
}

#prev-next {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 80%;
    font-size: 1rem;
    
}

#prev-next button {
    border: 3px solid var(--color-bg);
    background-color: dodgerblue;
    color: var(--color-bg);
    border-radius: 10px;
    font-weight: 900;
    font-size: 1.1rem;
}

#prev-next button:hover {
    background-color: var(--color-bg);
    color: var(--color-white);
}

#prev {
    width: 40%;
    height: 80%;
    display: grid;
    place-items: center;
    border: none;
}

#next {
    width: 40%;
    height: 80%;
    display: grid;
    place-items: center;
    border: none;
}

#mobile-prev {
    width: 40%;
    height: 100%;
    display: none;
    place-items: center;
    border: none;
    background-color: var(--color-light-blue);
}

#mobile-next {
    width: 40%;
    height: 100%;
    display: none;
    place-items: center;
    border: none;
    background-color: var(--color-light-blue);
}

#editor-viewport {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#inline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.a {
    fill: #000000;
}

.c {
    fill: #ffffff;
}

#color-pickers {
    position: absolute;
    top: 85px;
    left: 20px;

    width: 9%;
    height: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    font-size: 2rem;
    gap: 10px;
}

#primary-color-container,
#secondary-color-container,
#background-color-container {
    display: grid;
    place-items: center;
    background-color: var(--color-white);
    border: 3px solid var(--color-bg);
    border-radius: 10px;
    cursor: pointer;
}

#primary-color-container:hover ,
#secondary-color-container:hover ,
#background-color-container:hover {
    display: grid;
    place-items: center;
    background-color: var(--color-bg);
    border-radius: 10px;
}

input {
    cursor: pointer;
    border: none;
    background: none;
    width: 60%;
    height: 70%;   
    border-radius: 50px;
}

#zoom {
    position: absolute;
    bottom: 20px;
    right: 20px;   
    width: 9%;
    height: 20%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    
}

#zoom button {
    border: none;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--color-white);
    border: 3px solid var(--color-bg);
    color: var(--color-bg);
  
}

#zoom button:hover {
    background-color: var(--color-bg);
    color: var(--color-white);
}

#zoom-in {
    display: grid;
    place-items: center;
    background-color: green;
}

#zoom-out {
    display: grid;
    place-items: center;
}

footer {
    display: none;
    color: white;
    position: fixed;
}

@media screen and (min-width: 500px) and (max-width: 1375px) {
    #main-menu {
        display: none;
    }

    #information-block {
        display: none;
    }

    #editor-window {
        width: 80vw;
    }

    #svg-select {
        width: 80vw;
    }

    #help-window {
        width: 80vw;
    }

    #file-name {
        width: 25%;
    }

    footer {
        display: block;
        bottom: 25px;
    }
}

@media screen and (max-width: 500px) {
    #main-menu {
        display: none;
    }

    #information-block {
        display: none;
    }

    #editor-window {
        width: 90vw;
        height: 90vh;
        
    }

    #editor-header {
        height: 10%;
    }

    #prev-next {
        display: none;
    }

    #mobile-prev,
    #mobile-next {
        display: grid;
    }

    #svg-select {
        width: 90vw;
    }

    #help-window {
        width: 90vw;
    }

    #zoom {
        position: absolute;
        bottom: 35px;
        border: none;
        width: 100%;
        height: 15%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        border-top: 3px solid var(--color-black);
    }

    #zoom button:last-of-type {
        border-top: none;
        border-left: 3px solid var(--color-black);
    }

    #toggle-view {
        width: 12%;
    }

    #help-button {
        width: 12%;
    }

    #dropdown-menus {
        width: 25%;
    }

    #textencoder {
        width: 45%;
    }

    #file-name {
        width: 35%;
    }

    svg {
        width: 250px;
    }

    #nav-2 {
        display: none;
    }

    #color-pickers {
        position: absolute;
        top: 0;
        border-right: none;
        border-bottom: 3px solid var(--color-black);
        width: 100%;
        height: 15%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        font-size: 2rem;
    }

    #primary-color-container,
    #secondary-color-container {
    border-right: 3px solid var(--color-black);
    border-bottom: none;
    display: grid;
    place-items: center;
    background-color: var(--color-white);
    }

    input {
        cursor: pointer;
        border: none;
        background: none;
        width: 50%;
        height: 60%;   
    }
}