:root {
    --font-main: "lores-9-plus-narrow", sans-serif;
    --color-bg: #808080;
    --color-dark-blue: #5150fd;
    --color-light-blue: #57f3f5;
    --color-black: #000;
    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 10vh;
}

nav {
    width: 100%;
    height: 50%;
    border-bottom: 3px solid var(--color-black);
    box-sizing: border-box;
    background-color: var(--color-dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toggle-view {
    border-right: 3px solid var(--color-black);
    width: 5%;
    height: 100%;
    display: grid;
    place-items: center;
    
}

#toggle-icon {
    border: 3px solid var(--color-black);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#toggle-icon div {
    background-color: var(--color-black);
    width: 70%;
    height: 15%;
}

#textencoder {
    background-color: var(--color-black);
    color: var(--color-white);
    width: 30%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
}

#help {
    border-left: 3px solid var(--color-black);
    width: 5%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    
}

.nav-icon-container {
    background-color: var(--color-white);
}

#nav-2 {
    width: 100%;
    height: 50%;
    border-bottom: 3px solid var(--color-black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--color-light-blue);
}

#dropdown-menus {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    width: 40%;
    height: 100%;
    font-size: 1.25rem;
}

#dropdown-menus p:hover {
    cursor: pointer;
    color: var(--color-dark-blue);
}

body {
    background-color: var(--color-bg);
    display: grid;
    place-items: center;
}

#editor-window {
    border: 3px solid var(--color-black);
    
    width: 80vw;
    height: 80vh;
    margin-top: 39px;
    position: relative;
    background-color: var(--color-white);
    
}

#editor-header {
    position: absolute;
    top: 0;
    height: 5%;
    width: 100%;
    border-bottom: 3px solid var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-blue);
    position: relative;
    
}

#file-name {
    background-color: var(--color-black);
    color: var(--color-white);
    width: 20%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 0.8rem;
}

#prev-next {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    height: 100%;
    background-color: var(--color-white);
    font-size: 1rem;
}

#prev {
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
    border-left: 3px solid black;
}

#next {
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
    border-left: 3px solid black;
}

#editor-viewport {
    position: relative;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-pickers {
    position: absolute;
    top: 0;
    left: 0;
    border-right: 3px solid var(--color-black);
    border-bottom: 3px solid var(--color-black);
    width: 9%;
    height: 27%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    font-size: 2rem;
}

#primary-color-container {
    border-bottom: 3px solid var(--color-black);
    display: grid;
    place-items: center;
    background-color: var(--color-white);
}

#secondary-color-container {
    border-bottom: 3px solid var(--color-black);
    display: grid;
    place-items: center;
    background-color: var(--color-white);
}

#background-color-container {
    display: grid;
    place-items: center;
    background-color: var(--color-white);
}

input {
    cursor: pointer;
    border: none;
    background: none;
    width: 50%;
    height: 60%;   
}

#zoom {
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 3px solid var(--color-black);
    border-top: 3px solid var(--color-black);
    width: 8%;
    height: 16%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    
}

#zoom button {
    border: none;
    font-size: 2rem;
}

#zoom button:last-of-type {
    border-top: 3px solid var(--color-black);
}

#zoom-in {
    display: grid;
    place-items: center;
}

#zoom-out {
    display: grid;
    place-items: center;
}

.hover-style:hover {
    background-color: var(--color-light-blue);
    cursor: pointer;
}