:root {
    --font-main: monospace;
    --color-bg: #161616;
    --color-dark-blue: #774289;
    --color-light-blue: #b59cc4;
    --color-black: #000;
    --color-white: #cbcbcb;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    box-sizing: border-box;
    overflow: hidden;
}

html {
    background-color: var(--color-bg);
}

button {
    cursor: pointer;
}

a,
a:visited {
    color:lawngreen;
}

i {
    color: lawngreen;
}

.red-text {
    color: red;
}
.green-text {
    color: green;
}
.blue-text {
    color: blue;
}

.large-text {
    font-size: 1.5rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#main-menu {
    width: 25%;
    height: 100vh;
    color: var(--color-white);
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    cursor: default;
}

#logo {
    border: 2px solid var(--color-white);
    color: var(--color-white);
    background: none;
    width: 20%;
    height: 10%;
    border-radius: 10px; 
    font-family: "dm-sans", sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo:hover {
    border-color: lawngreen;
    cursor: pointer;
    color: lawngreen;
}



#information-block {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    text-align: center;
    font-size: 1.2rem;
    padding: 60px 30px;
    line-height: 40px;
    cursor:default;
}

svg {
    height: 300px;
}

#editor-window {
    border: 5px solid var(--color-bg);  
    width: 50vw;
    height: 90vh;
    margin-top: 10px;
    position: relative;
    background-color: var(--color-white); 
    border-radius: 15px;
}

#editor-header {
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
    border-bottom: 5px solid var(--color-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    z-index: 1;
}

#file-name {
    color: var(--color-white);
    background-color: var(--color-bg);
    border: none;
    border-radius: 10px;
    width: 30%;
    height: 70%;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    font-weight: 900;
    margin-left: 20px;
}

#file-name:hover {
    color: var(--color-black);
    background-color: dodgerblue;
   
    cursor: pointer;
}

#prev-next {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 80%;
    font-size: 1rem;
    
}

#prev-next button {
    border: 3px solid var(--color-bg);
    background-color: dodgerblue;
    color: var(--color-bg);
    border-radius: 10px;
    font-weight: 900;
    font-size: 1.1rem;
}

#prev-next button:hover {
    background-color: var(--color-bg);
    color: var(--color-white);
}

#prev {
    width: 40%;
    height: 80%;
    display: grid;
    place-items: center;
    border: none;
}

#next {
    width: 40%;
    height: 80%;
    display: grid;
    place-items: center;
    border: none;
}

#mobile-prev {
    width: 40%;
    height: 100%;
    display: none;
    place-items: center;
    border: none;
    background-color: dodgerblue;
    border-right: 4px solid var(--color-bg);
}

#mobile-next {
    width: 40%;
    height: 100%;
    display: none;
    place-items: center;
    border: none;
    background-color: dodgerblue;
    border-left: 4px solid var(--color-bg);
}

#editor-viewport {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    cursor: crosshair;
}

#inline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.a {
    fill: #000000;
}

.c {
    fill: #ffffff;
}

#color-pickers {
    position: absolute;
    top: 85px;
    left: 20px;

    width: 9%;
    height: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    font-size: 2rem;
    gap: 10px;
}

#primary-color-container,
#secondary-color-container,
#background-color-container {
    display: grid;
    place-items: center;
    background-color: var(--color-white);
    border: 3px solid var(--color-bg);
    border-radius: 10px;
    cursor: pointer;
}

#primary-color-container:hover ,
#secondary-color-container:hover ,
#background-color-container:hover {
    display: grid;
    place-items: center;
    background-color: var(--color-bg);
    border-radius: 10px;
}

input {
    cursor: pointer;
    border: none;
    background: none;
    width: 60%;
    height: 70%;   
    border-radius: 50px;
}

#zoom {
    position: absolute;
    bottom: 20px;
    right: 20px;   
    width: 9%;
    height: 20%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    
}

#zoom button {
    border: none;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--color-white);
    border: 3px solid var(--color-bg);
    color: var(--color-bg);
  
}

#zoom button:hover {
    background-color: var(--color-bg);
    color: var(--color-white);
}

#zoom-in {
    display: grid;
    place-items: center;
    background-color: green;
}

#zoom-out {
    display: grid;
    place-items: center;
}

footer {
    display: none;
    color: white;
    position: fixed;
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
    #main-menu {
        display: none;
    }

    #information-block {
        display: none;
    }

    #editor-window {
        width: 80vw;
    }

    #file-name {
        width: 25%;
    }

    footer {
        display: block;
        bottom: 25px;
    }
}

@media screen and (max-width: 500px) {
    #main-menu {
        display: none;
    }

    #information-block {
        display: none;
    }

    footer {
        display: block;
        bottom: 25px;
    }

    #editor-window {
        width: 90vw;
        height: 80vh;
    }

    #editor-header {
        height: 10%;
    }

    #prev-next {
        display: none;
    }

    #mobile-prev,
    #mobile-next {
        display: grid;
    }

    #zoom {
        position: absolute;
        bottom: 10px;
        right: 0;
        border: none;
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        padding: 10px 30px;
    }

    #zoom button {
       width: 50%; 
       
    }

    #file-name {
        width: 80%;
        background: none;
        color: var(--color-bg)
    }

    #file-name:hover {
        background: none;
    }

    svg {
        width: 250px;
    }

    #color-pickers {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 15%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        font-size: 2rem;
        padding: 20px 40px;;
        gap: 20px;
    }

    #primary-color-container,
    #secondary-color-container {
    border-right: 3px solid var(--color-black);
    border-bottom: none;
    display: grid;
    place-items: center;
    background-color: var(--color-white);
    }

    input {
        cursor: pointer;
        border: none;
        background: none;
        width: 50%;
        height: 60%;   
    }

}