.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(0 0 0 / 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}

.reactAriaModalMenu {
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  background: black;
  color: white;
  border: 1px solid white;
  outline: none;
  width: 375px;
  height: calc(100% - 100px);
  overflow-y: auto;

  &[data-entering] {
    animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .react-aria-TextField {
    margin-bottom: 8px;
  }

  hr {
    width: 95%;
    margin: 0 auto;
  }
}

.reactAriaModalMenu::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.reactAriaModalMenu::-webkit-scrollbar-thumb {
  background: white;
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

ul {
  width: 100%;
  height: 100%;
  list-style-type: none;

  svg {
    max-height: 50px;
  }
}

.modal-menu-button {
  width: 100%;
  background: none;
  border: none;
  color: white;
}

.attribute-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.count-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.list-count {
  border: 1px solid white;
  font-size: 0.75rem;
  width: 17.5px;
  aspect-ratio: 1;
  border-radius: 10px;
  display: grid;
  place-items: center;
}
