:root {
  --color-orange: #ff5c00;
  --color-dark: #1a1c1e;
  --color-medium: #2b353f;
  --color-gray: #93a1b0;
  --color-light-gray: hsla(211, 16%, 63%, 0.3);
  --color-gray-transparent: rgba(147, 161, 176, 0.05);
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

#root {
  width: 100%;
}

body {
  height: 100dvh;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

button {
   cursor: pointer;
}

.react-aria-ColorSlider {
  display: grid;
  grid-template-areas: "track track";
  grid-template-columns: 1fr auto;
  gap: 4px;
  width: 190px;

  .react-aria-SliderTrack {
    grid-area: track;
    border-radius: 2px;
  }

  &[data-orientation=horizontal] {
    .react-aria-SliderTrack {
      height: 50px;
    }

    .react-aria-ColorThumb {
      top: 50%;
    }
  }
}

.react-aria-ColorThumb {
  border: 4px solid rgba(255, 255, 255);
  box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
  width: 2px;
  height: 80%;
  border-radius: 1px;
  box-sizing: border-box;

  
}