.react-aria-Slider {
  &[data-orientation=vertical] {
    height: 100px;
    display: block;
    background: white;

    .react-aria-Label,
    .react-aria-SliderOutput {
      display: none;
    }

    .react-aria-SliderTrack {
      width: 10px;
      height: 100%;
      background: gray;

      &:before {
        width: 3px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .react-aria-SliderThumb {
      left: 50%;
      background: white;
      width: 25px;
      height: 25px;
    }
  }
}