.react-aria-Slider {
  &[data-orientation="vertical"] {
    height: 160px;
    display: block;

    .react-aria-Label,
    .react-aria-SliderOutput {
      display: none;
    }

    .react-aria-SliderTrack {
      width: 8px;
      height: 100%;
      background: gray;
      cursor: grab;

      &:before {
        width: 3px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .react-aria-SliderThumb {
      left: 50%;
      background: white;
      width: 25px;
      height: 25px;
      cursor: grab;

      &[data-dragging] {
        cursor: grabbing;
      }

      &[data-focus-visible] {
        outline: 2px solid blue;
        outline-offset: -1px;
      }
    }
  }
}
