.quickActionBar {
    width: 325px;
    aspect-ratio: 5/1;
    background-color: var(--color-dark);
    border: 1px solid var(--color-medium);
    border-radius: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
      background-color: var(--color-medium);
      aspect-ratio: 1/1;
      width: 50px;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      color: white;
      transition: background-color 0.1s ease;
      display: grid;
      place-items: center;
    }

    button:hover {
      background-color: #ff5c00;
    }

    button[data-state="open"] {
      background-color: #ff5c00;
    }
}