header {
  display: flex;
  justify-content: space-between;
  align-items: center;  

  p {
    color: white;
  }

  div {
    display: flex;
    justify-content: space-between;
    width: 20%;
  }

  .prevNext {
    aspect-ratio: 2/1;
    width: 70px;
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: var(--color-dark);
    border: 1px solid var(--color-dark);
    border-radius: 5px;

    svg {
      width: 35%;

      path {
        fill: white;
      }
    }
  }

  .prevNext:disabled {
    border-color: gray;
    background: none;

    svg path {
      fill: gray;
    }
  }
}

.fileInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
  border: 1px solid var(--color-light-gray);
  padding: 7.5px 25px;
  width: 225px;
  min-height: 70px;
  border-radius: 15px;
  cursor: pointer;
  transition: border 0.1s ease;

  div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
  }

  p {
    text-align: left;
  }

  p:nth-of-type(1) {
    font-size: 0.9rem;
  }

  p:nth-of-type(2) {
    font-size: 0.7rem;
    color: var(--color-gray);
  }

  div:nth-of-type(2) {
    transition: background-color 0.1s ease;
    display: grid;
    place-content: center;
    border-radius: 15px;
    width: 25px;
    aspect-ratio: 1/1;
    background-color: var(--color-medium);
    /* border: 0.25px solid var(--color-light-gray); */
  }
}

.fileInfo:hover {
  border: 1px solid var(--color-orange);

  svg path {
    fill: var(--color-orange);
  }
}

.fileInfo[data-state="open"] {
  border-color: var(--color-orange);

  svg path {
    transform-origin: center;
    transform: rotate(180deg);
    fill: var(--color-orange);
  }
}

.thumbnailWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.9rem;
  gap: 10px;
  padding: 5px;
  background-color: var(--color-medium);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}

.thumbnailWrapper:hover {
  background-color: var(--color-orange);
}

.vectorThumbnail {
  background: var(--color-dark);
  padding: 5px;
  border-radius: 5px;

  svg {
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
  }
}

.home {
  height: 70px;
  aspect-ratio: 1;
  background: var(--color-dark);
  border: 1px solid var(--color-light-gray);
  border-radius: 15px;
  display: grid;
  place-items: center;

  svg {
    fill: white;
    margin-right: 3px;
  }
}

.home:hover {
  border-color: var(--color-orange);

  svg {
    fill: var(--color-orange);
  }
}
