.react-aria-ColorSlider {
  display: grid;
  grid-template-areas: "label output"
                       "track track";
  grid-template-columns: 1fr auto;
  gap: 4px;
  max-width: 300px;
  width: 100%;

  .react-aria-Label {
    grid-area: label;
  }

  .react-aria-SliderOutput {
    grid-area: output;
  }

  .react-aria-SliderTrack {
    grid-area: track;
  }

  &[data-orientation=horizontal] {
    .react-aria-SliderTrack {
      height: 7px;
    }

    .react-aria-ColorThumb {
      top: 50%;
    }
  }
}

.react-aria-ColorThumb {
  border: 2px solid white;
  box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
  width: 10px;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;

  &[data-focus-visible] {
    width: 24px;
    height: 24px;
  }
}