.react-aria-ColorSlider {
  display: grid;
  grid-template-areas:
    "track track";
  grid-template-columns: auto;
  gap: 4px;
  max-width: 300px;
  width: 80%;

  .react-aria-Label {
    grid-area: label;
  }

  .react-aria-SliderOutput {
    grid-area: output;
  }

  .react-aria-SliderTrack {
    grid-area: track;
  }

  &[data-orientation="horizontal"] {
    .react-aria-SliderTrack {
      height: 10.5px;
    }

    .react-aria-ColorThumb {
      top: 50%;
    }
  }
}

.react-aria-ColorThumb {
  border: 2px solid white;
  box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
  width: 21px;
  aspect-ratio: 1;
  box-sizing: border-box;
  cursor: grab;

  &[data-focus-visible] {
    width: 24px;
    height: 24px;
  }

  &[data-dragging] {
    cursor: grabbing;
  }
}
