.footer {
  display: grid;
  place-items: center;

  div {
    width: 325px;
    aspect-ratio: 5/1;
    background-color: var(--color-dark);
    border: 1px solid var(--color-medium);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2.5px;

    button {
      background-color: var(--color-medium);
      aspect-ratio: 1/1;
      width: 15.5%;
      border: none;
      border-radius: 7.5px;
      cursor: pointer;
      color: white;
      transition: background-color 0.1s ease;
    }

    button:hover {
      background-color: #ff5c00;
    }

    button[data-state="open"] {
      background-color: #ff5c00;
    }
  }
}

.SliderRoot {
	position: relative;
	display: flex;
	align-items: center;
	user-select: none;
	touch-action: none;
	width: 200px;
	height: 20px;
  background-color: var(--color-medium);
  padding: 15px;
  border-radius: 5px;
}

.SliderTrack {
	background-color: black;
	position: relative;
	flex-grow: 1;
	border-radius: 9999px;
	height:5px;
}

.SliderRange {
	position: absolute;
	background-color: white;
	border-radius: 9999px;
	height: 100%;
}
.SliderRange:hover {
  background-color: var(--color-orange);
  cursor: pointer;
}

.SliderThumb {
	display: block;
	width: 20px;
	height: 20px;
	background-color: white;
	box-shadow: 0 2px 10px black;
	border-radius: 10px;
}
.SliderThumb:hover {
	background-color: var(--color-orange);
  cursor: pointer;
}
.SliderThumb:focus {
	outline: none;
	box-shadow: 0 0 0 5px black;
}

.PopoverArrow {
  fill: var(--color-medium);
}