.viewportOuter {
  /* background: url("../../assets/viewport_outer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
  border: 1px solid var(--color-orange);
  border-radius: 2.5px;
  padding: 25px;
  display: grid;
  place-items: center;
}

.viewportInner {
  display: grid;
  place-items: center;
  border: 1px solid var(--color-gray);
  border-radius: 2.5px;
  height: 100%;
  width: 100%;

  /* div {
        border: 1px solid white;
    } */

  svg {
    width: 300px;
  }
}