.layerButton {
  color: white;
  background: black;
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  font-family: monospace, monospace;
  padding-right: 10px;

  &[data-pressed] {
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
    background: #333333;
    border-color: white;
    transform: scale(0.98);
  }

  &[data-focus-visible] {
    outline: 2px solid blue;
    outline-offset: -1px;
  }
}

.layerButton:disabled {
  color: gray;
  border: 1px solid gray;
}

.layerInfo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.layerControls {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.layerControl {
  background: none;
  display: grid;
  place-items: center;
  height: 100%;
  width: 50%;
  border: none;
  color: white;
  border-right: 1px solid white;
}