.controlCenter {
  width: 400px;
  max-height: 150px;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: black;
  box-sizing: border-box;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 5;
}

.layerButtons {
  grid-area: 1 / 1 / 2 / 8;
  display: flex;
  justify-content: space-around;
  border: 1px solid white;
}

.colorSliders {
  /* background-color: bisque; */
  grid-area: 2 / 1 / 5 / 8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid white;

  span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    p {
      background-color: white;
      width: 30px;
      aspect-ratio: 1;
      display: grid;
      place-items: center;
      border-radius: 50px;
      font-family: sans-serif;
    }
  }
}

.zoomSlider {
  grid-area: 1 / 8 / 4 / 9;
  display: grid;
  place-items: center;
  border: 1px solid white;
}

.randomButton {
  grid-area: 4 / 8 / 5 / 9;
  display: grid;
  place-items: center;
  border: 1px solid white;
}

@media screen and (max-width: 450px) {
  .controlCenter {
    width: calc(100vw - 20px)
  }
}